<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>optionalFeatures</key>
	<dict>
		<key>acceptableAssertionApplicationNames</key>
		<array>
			<string>zoom.us</string>
			<string>Meeting Center</string>
			<string>Google Chrome</string>
			<string>Safari</string>
		</array>
		<key>acceptableAssertionUsage</key>
		<true/>
		<key>acceptableCameraUsage</key>
		<true/>
		<key>acceptableScreenSharingUsage</key>
		<true/>
		<key>attemptToBlockApplicationLaunches</key>
		<true/>
		<key>blockedApplicationBundleIDs</key>
		<array>
			<string>com.microsoft.VSCode</string>
			<string>us.zoom.xos</string>
		</array>
		<key>terminateApplicationsOnLaunch</key>
		<false/>
		<key>utilizeSOFAFeed</key>
		<true/>
	</dict>
	<key>osVersionRequirements</key>
	<array>
		<dict>
			<key>aboutUpdateURL</key>
			<string>https://apple.com</string>
			<key>requiredMinimumOSVersion</key>
			<string>latest-supported</string>
			<key>unsupportedURL</key>
			<string>https://google.com</string>
		</dict>
	</array>
	<key>userExperience</key>
	<dict>
		<key>elapsedRefreshCycle</key>
		<integer>10</integer>
		<key>initialRefreshCycle</key>
		<integer>10</integer>
		<key>loadLaunchAgent</key>
		<false/>
		<key>nudgeRefreshCycle</key>
		<integer>5</integer>
		<key>randomDelay</key>
		<false/>
	</dict>
	<key>userInterface</key>
	<dict>
		<key>iconDarkPath</key>
		<string>https://github.com/macadmins/nudge/blob/main/assets/NudgeIconInverted.png?raw=true</string>
		<key>iconLightPath</key>
		<string>https://github.com/macadmins/nudge/blob/main/assets/NudgeIcon.png?raw=true</string>
		<key>screenShotDarkPath</key>
		<string>https://github.com/macadmins/nudge/blob/main/assets/standard_mode/demo_dark_1_icon.png?raw=true</string>
		<key>screenShotLightPath</key>
		<string>https://github.com/macadmins/nudge/blob/main/assets/standard_mode/demo_light_1_icon.png?raw=true</string>
		<key>simpleMode</key>
		<false/>
		<key>updateElements</key>
		<array>
			<dict>
				<key>_language</key>
				<string>en</string>
				<key>actionButtonText</key>
				<string>actionButtonText</string>
				<key>customDeferralButtonText</key>
				<string>customDeferralButtonText</string>
				<key>customDeferralDropdownText</key>
				<string>customDeferralDropdownText</string>
				<key>informationButtonText</key>
				<string>informationButtonText</string>
				<key>actionButtonTextUnsupported</key>
				<string>actionButtonTextUnsupported</string>
				<key>mainContentHeader</key>
				<string>mainContentHeader</string>
				<key>mainContentHeaderUnsupported1</key>
				<string>mainContentHeaderUnsupported</string>
				<key>mainContentNote</key>
				<string>mainContentNote</string>
				<key>mainContentNoteUnsupported1</key>
				<string>mainContentNoteUnsupported</string>
				<key>mainContentSubHeader</key>
				<string>mainContentSubHeader</string>
				<key>mainContentSubHeaderUnsupported1</key>
				<string>mainContentSubHeaderUnsupported</string>
				<key>mainContentText</key>
				<string>mainContentText</string>
				<key>mainContentTextUnsupported1</key>
				<string>mainContentTextUnsupported</string>
				<key>mainHeader</key>
				<string>mainHeader</string>
				<key>mainHeaderUnsupported1</key>
				<string>mainHeaderUnsupported</string>
				<key>oneDayDeferralButtonText</key>
				<string>oneDayDeferralButtonText</string>
				<key>oneHourDeferralButtonText</key>
				<string>oneHourDeferralButtonText</string>
				<key>primaryQuitButtonText</key>
				<string>primaryQuitButtonText</string>
				<key>screenShotAltText</key>
				<string>Click to zoom into screenshot</string>
				<key>secondaryQuitButtonText</key>
				<string>secondaryQuitButtonText</string>
				<key>subHeader</key>
				<string>subHeader</string>
				<key>subHeaderUnsupported1</key>
				<string>subHeaderUnsupported</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
